#game {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 2px solid;
  width: 40px;
  height: 40px;
}

.head {
  background-color: red;
}

.body{
  background-color: black;
}

.dead {
  background-color: chartreuse;
}

.frog {
  background-color: brown;
  border-radius: 50%
}